.footer {
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  color: black;
  bottom: 0;
  border-top: 1px solid #e9ecef;
  a {
    color: #6c757d;
    text-decoration: none;
    &:hover {
      color: #007bff;
    }
  }
}
